<web-app>
	<servlet>
		<servlet-name>AddRecord</servlet-name>
		<servlet-class>AddRecord</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DeleteRecord</servlet-name>
		<servlet-class>DeleteRecord</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UpdateRecord</servlet-name>
		<servlet-class>UpdateRecord</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SearchRecord</servlet-name>
		<servlet-class>SearchRecord</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ViewRecords</servlet-name>
		<servlet-class>ViewRecords</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddRecord</servlet-name>
		<url-pattern>/AddRecord</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DeleteRecord</servlet-name>
		<url-pattern>/DeleteRecord</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UpdateRecord</servlet-name>
		<url-pattern>/UpdateRecord</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SearchRecord</servlet-name>
		<url-pattern>/SearchRecord</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ViewRecords</servlet-name>
		<url-pattern>/ViewRecords</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
</web-app>
